* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: 255, 255, 255;
}

body {
    background-color: #302F57;
    color: rgba(var(--white), 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}